src/main/mule/address-batch-upload.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:secure-properties="http://www.mulesoft.org/schema/mule/secure-properties" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:batch="http://www.mulesoft.org/schema/mule/batch" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/secure-properties http://www.mulesoft.org/schema/mule/secure-properties/current/mule-secure-properties.xsd">
	<db:config name="Database_Config" doc:name="Database Config" >
		<db:my-sql-connection host="${secure::db.host}" port="${secure::db.port}" user="${secure::db.user}" password="${secure::db.password}" database="${secure::db.database}" />
	</db:config>
	<secure-properties:config name="Secure_Properties_Config" doc:name="Secure Properties Config" file="address-${env}.yaml" key="${key}" >
		<secure-properties:encrypt algorithm="Blowfish" />
	</secure-properties:config>
	<flow name="processAddressRecordsBatchJob" doc:id="97cdcb65-303d-427c-a663-8c9c6e3fc9c1" >
		<file:listener doc:name="On New or Updated File" doc:id="5e7c792c-aece-46d7-bb68-6af28dbbc31f" directory="C:\Users\karna\OneDrive\Desktop\Quintrix\Training\addressFileInput" autoDelete="true" outputMimeType="application/csv">
			<scheduling-strategy >
				<fixed-frequency frequency="1" timeUnit="MINUTES"/>
			</scheduling-strategy>
		</file:listener>
		<ee:transform doc:name="Transform Message" doc:id="be7a40ff-2259-4775-b682-0dc4c0a14fcd" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload filter ($.customerId as Number <= 50)]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<batch:job jobName="address-batch-uploadBatch_Job" doc:id="21bd9296-e47e-4d81-9273-5563ad5e8643" >
			<batch:process-records >
				<batch:step name="insertToDatabase" doc:id="f75ac77a-1254-49aa-8e06-3a73da38f03f" >
					<ee:transform doc:name="Filter Records" doc:id="d4fe6206-e95b-4687-8a5b-fc7c4e9b32d1" >
						<ee:message >
							<ee:set-payload ><![CDATA[%dw 2.0
output application/java
var addr = payload.address splitBy " "
---
{
	customerId : payload.customerId as Number,
	address : addr[0],
	address2 : addr[1] ++ " " ++ (addr[2] default ""),
	city : payload.city,
	country : payload.country,
	postalCode : payload.postalCode,
	phone : payload.phone
}]]></ee:set-payload>
						</ee:message>
					</ee:transform>
					<batch:aggregator doc:name="Batch Aggregator" doc:id="6ccb13b5-cf78-4204-a1ff-5d23d5f293fb" size="10">
						<db:bulk-insert doc:name="Bulk insert" doc:id="9caed864-272e-4f35-8cbb-cdcb0a47e0b3" config-ref="Database_Config">
							<db:sql >INSERT INTO training.address ( customerId, address, address2,city,postal_code,phone,country )
   VALUES
   ( customerId:,:address,:address2,:city,:postalCode,:phone,:country);</db:sql>
						</db:bulk-insert>
					</batch:aggregator>
				</batch:step>
				<batch:step name="handleFailureAddressRecords" doc:id="66b3d154-06eb-4e6e-8dc0-1cdaa90b8b59" acceptPolicy="ONLY_FAILURES">
					<logger level="INFO" doc:name="Logger" doc:id="1680fbc6-a490-4868-9fca-154d7df2d43d" message="#[payload.customerId]"/>
				</batch:step>
			</batch:process-records>
			<batch:on-complete >
				<ee:transform doc:name="Transform Message" doc:id="eb0be990-6a2d-4fa5-aec5-2d60368dc591" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<logger level="INFO" doc:name="Logger" doc:id="665aa8fb-3049-49d7-9e29-079b81c9d2be" message="#[payload]"/>
			</batch:on-complete>
		</batch:job>
	</flow>
</mule>
